@use "style/mixins" as *;
@use "style/variables" as *;

.root {
	width: 100%;
	background-color: $dark;
	height: remsize(100);
	padding: 0 remsize(25) 0 remsize(45);
	display: grid;
	grid-template-columns: remsize(152) auto remsize(132);
}

.text {
	font-weight: bold;
	font-size: remsize(24);
	line-height: remsize(32);
	color: $white;
	padding-left: remsize(83);
	padding-top: remsize(18);
}
