@use "style/mixins" as *;
@use "style/variables" as *;
@use "style/media" as *;

.root {
	width: 100%;
	background-color: $dark;
	height: remsize(100);
	padding: 0 remsize(25) 0 remsize(45);
	display: grid;
	grid-template-columns: remsize(152) auto remsize(132);

	@include mobile {
		grid-template-columns: 1fr 3fr 1fr;
		align-items: center;
		justify-items: center;
		padding: 0;
	}

	@include mobileS {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"img logo"
			"text text";
		height: 100%;
		padding: remsize(10) 0;
	}
}

.text {
	font-weight: bold;
	font-size: remsize(24);
	line-height: remsize(32);
	color: $white;
	padding-left: remsize(83);
	padding-top: remsize(18);

	@include mobile {
		padding: 0;
		text-align: center;
		font-size: remsize(20);
	}

	@include mobileS {
		grid-area: text;
	}
}

.img {
	@include mobileS {
		grid-area: img;
	}
}

.logo {
	@include mobileS {
		grid-area: logo;
	}
}
