@use "style/mixins" as *;
@use "style/variables" as *;

.btn {
	min-width: remsize(120);
	padding: remsize(10) remsize(2);
	color: $white;
	text-align: center;
	text-transform: uppercase;
	font-size: remsize(14);
	transition: 0.3s transform;
	border: none;
	cursor: pointer;

	&:hover {
		transform: translateY(remsize(-5));
	}
	&:disabled {
		filter: grayscale(0.5);
	}
}

.btnMain {
	@extend .btn;
	background-color: $main-color;
}

.btnSecondary {
	@extend .btn;
	background-color: $grey;
}

.btnLong {
	@extend .btn;
	display: block;
	width: remsize(170);
	margin: remsize(45) auto 0 auto;
}

.btnMain,
.btnSecondary {
	&:hover {
		color: $white;
	}
}
