@use "style/mixins" as *;

.root {
	margin-top: remsize(50);
	display: grid;
	grid-template-columns: remsize(650) remsize(425);
	column-gap: remsize(25);
	align-items: start;
}

.bgImage {
	position: absolute;
	right: remsize(-174);
	bottom: remsize(-70);
	z-index: -1;
}
