@use "style/mixins" as *;
@use "style/button" as *;

.root {
	margin-top: remsize(45);
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, remsize(225));
	justify-content: space-between;
	row-gap: remsize(55);
}
