@use "style/mixins" as *;

.root {
	transition: 0.3s transform;

	&:hover {
		transform: translateY(remsize(-5));
	}
}
.img {
	box-shadow: remsize(5) remsize(5) remsize(10) rgba(0, 0, 0, 0.25);
	width: remsize(225);
	height: remsize(345);
}
.title {
	margin-top: remsize(10);
	font-weight: bold;
	font-size: remsize(14);
	line-height: remsize(18);
}
.text {
	margin-top: remsize(5);
	font-weight: bold;
	font-size: remsize(14);
	line-height: remsize(18);
	color: rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}
