@use "style/mixins" as *;

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: remsize(1140);
	margin: 0 auto;
	padding: remsize(50) 0;
	position: relative;
}

.main {
	margin-top: remsize(50);
}
