@use "style/mixins" as *;
@use "style/variables" as *;

.root {
	width: remsize(200);
	height: remsize(318);
	background-color: $dark;
	box-shadow: remsize(5) remsize(5) remsize(10) rgba(0, 0, 0, 0.25);
	padding: remsize(15);
	cursor: pointer;
	transition: 0.3s transform;
	img {
		width: remsize(200);
		height: remsize(200);
		object-fit: cover;
		transform: translate(remsize(-15), remsize(-15));
	}
}

.text {
	font-weight: bold;
	font-size: remsize(22);
	line-height: remsize(29);
	text-transform: uppercase;
	color: $white;
}

.active {
	box-shadow: 0 remsize(5) remsize(20) $main-color;
	transform: translateY(remsize(-8));
}
