@use "style/variables" as *;
@use "style/button" as *;
@use "style/mixins" as *;

.list {
	display: grid;
	grid-template-columns: repeat(3, remsize(200));
	column-gap: remsize(25);
	row-gap: remsize(30);
}
