@use "style/variables" as *;
@use "style/button" as *;
@use "style/mixins" as *;
@use "style/media" as *;

.root {
	padding: remsize(40) remsize(35);
	display: grid;
	grid-template-columns: remsize(180) auto;
	column-gap: remsize(30);

	@include mobile {
		grid-template-columns: 1fr 1.5fr;
		padding: remsize(25) remsize(10);
		column-gap: remsize(10);
	}
}

.img {
	width: remsize(180);
	height: remsize(180);
	object-fit: cover;

	@include mobile {
		width: 100%;
		height: 100%;
	}
}

.box {
	display: grid;
	grid-template-rows: minmax(remsize(29), auto) remsize(90) remsize(38);
	row-gap: remsize(10);
	padding-top: remsize(3);

	@include mobile {
		display: flex;
		flex-direction: column;
		gap: remsize(10);
	}
}

.name {
	font-weight: bold;
	font-size: remsize(22);
	line-height: remsize(29);
	text-transform: uppercase;

	@include mobile {
		font-size: remsize(20);
	}
}
.descr {
	font-size: remsize(14);
	line-height: remsize(18);
}

.btns {
	a:nth-child(1) {
		margin-right: remsize(30);

		@include mobile {
			margin-right: 0;
		}
	}

	@include mobile {
		display: flex;
		gap: remsize(10);
	}
}
