@use "style/variables" as *;
@use "style/button" as *;
@use "style/mixins" as *;

.root {
	padding: remsize(40) remsize(35);
	display: grid;
	grid-template-columns: remsize(180) auto;
	column-gap: remsize(30);
}

.img {
	width: remsize(180);
	height: remsize(180);
	object-fit: cover;
}

.box {
	display: grid;
	grid-template-rows: minmax(remsize(29), auto) remsize(90) remsize(38);
	row-gap: remsize(10);
	padding-top: remsize(3);
}

.name {
	font-weight: bold;
	font-size: remsize(22);
	line-height: remsize(29);
	text-transform: uppercase;
}
.descr {
	font-size: remsize(14);
	line-height: remsize(18);
}

.btns {
	a:nth-child(1) {
		margin-right: remsize(30);
	}
}
