@use "style/variables" as *;
@use "style/button" as *;

.root {
	padding: remsize(25);
	box-shadow: 0 0 remsize(20) rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 5;
	background-color: $white;
}

.container {
	display: grid;
	grid-template-columns: remsize(150) auto;
	column-gap: remsize(25);
	img {
		width: remsize(150);
		height: remsize(150);
		object-fit: cover;
	}
}

.head {
	font-weight: bold;
	font-size: remsize(22);
	line-height: remsize(29);
	text-transform: uppercase;
}

.btns {
	margin-top: remsize(35);
	a:nth-child(2) {
		margin-top: remsize(10);
	}
}

.text {
	margin-top: remsize(15);
	font-size: remsize(14);
	line-height: remsize(18);
}

.box {
	font-weight: bold;
	font-size: remsize(18);
	line-height: remsize(24);
	margin-top: remsize(10);
}

.list {
	position: relative;
	margin-top: remsize(10);
}

.item {
	width: 100%;
	padding: 0 remsize(10);
	line-height: remsize(25);
	box-shadow: 0 remsize(4) remsize(4) rgba(0, 0, 0, 0.25);
	margin-top: remsize(10);
}
