@use "style/mixins" as *;
@use "style/variables" as *;

.root {
	display: flex;
	justify-content: space-between;
}

.title {
	font-weight: bold;
	font-size: remsize(28);
	line-height: remsize(37);
	span {
		color: $main-color;
	}
}

.nav {
	ul {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		font-size: remsize(24);
		line-height: remsize(32);
		li {
			margin: 0 remsize(8);
			a:hover {
				color: $main-color;
			}
		}
	}
}
