@use "style/variables" as *;
@use "style/button" as *;
@use "style/mixins" as *;

.root {
	padding: remsize(40) remsize(35);
	background-color: $dark;
	position: relative;
	button {
		margin-top: remsize(13);
	}
}

.title {
	font-weight: bold;
	font-size: remsize(24);
	line-height: remsize(32);
	letter-spacing: -0.045em;
	color: #ffffff;
	&:nth-child(2) {
		margin-top: remsize(33);
	}
}

.img {
	position: absolute;
	bottom: remsize(14);
	right: remsize(-37);
}
